.git
.gitignore
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
.venv
venv
node_modules
.env
.env.local
*.log
.DS_Store
build/
dist/
*.mod.bak
*.sum.bak

pharmacy-go/pharmacy
portal-go/portal
**/bin/
